.worldMapContainer {
  position: relative;
}

.worldMapCanvas {
  width: 100%;
}

.masthead {
  background-color: antiquewhite;
}

.animal {
  position: absolute;
  border: 2px solid green;

  img {
    width: 70px;
  }

  p {
    margin: 0px;
  }

  //&:hover {
  //  background: yellow;
  //  width: 250px;
  //  height: 400px;
  //}
}

.invisibleField {
  display: none;
}

.commonName {
  position: relative;
  top: 80%;
}

.banded {
  top: 65%;
  left: 81%;
}

.asiaticLion {
  top: 11%;
  left: 52%;
}
.cloudedLeopard {
  top: 15%;
  left: 67%;
}

.selectedAnimal {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

//.animal img:hover + .invisibleField { /* Adjacent-Sibling Selector ???
//    /*display: block;*/
//}