body {
  margin: 0;
  background-color: white;
}

.amaticFont {
  font-family: 'Amatic SC', serif;
}

.container {
  position: relative;
}

.worldMapContainer {
  position: relative;
  top: 50%;
}

.worldMapCanvas {
  width: 100%;
}

.masthead {
  background-color: white;
  box-sizing: border-box;
  padding: 10px;
  h1 , p {
    margin-top: 0;
    margin-bottom: 0px;
  }
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 28px;
  }
}

.animal {
  border: 2px solid white;
  transition: all 0.3s , filter 0.1ms;
  position: absolute;
  max-width: 30%;
  width: 70px;
  border-radius: 10%;
  img {
    width: 100%;
    border-radius: 10%;
  }
  p {
    margin: 0px;
    font-size: x-large;
  }
}

.invisibleBox {
  display: none;
}

.commonNameLabel , .scientificNameLabel {
  font-weight: bold;
}

.scientificName {
  padding-bottom: 10px;
}

// START animals positioning on the map

.bandedHare {
  top: 77%;
  left: 82%;
}

.asiaticLion {
  top: 30%;
  left: 52%;
}
.cloudedLeopard {
  top: 34%;
  left: 69%;
}

// END animals positioning on the map


.selectedAnimal {
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 30%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5%;
  img {
    border-radius: 3%;
    width: 100%;
  }
  .invisibleBox {
    display: block;
  }
}

.blurred{
  .animal:not(.selectedAnimal) , .worldMapContainer {
    filter: blur(5px);
    transition: filter 0.3s;
  }
}